torch
torchvision
tqdm
transformers
accelerate
aiohttp
aiosignal
annotated-types
anyio
art
async-timeout
attrs
blis
boto3
botocore
bpe
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
cloudpickle
cmake
confection
contourpy
cycler
cymem
datasets
datasketch
dill
diskcache
distro
docstring_parser
einops
exceptiongroup
fastapi
filelock
fonttools
frozenlist
fschat
fsspec
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
hypothesis
idna
importlib_resources
iniconfig
interegular
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
langcodes
language_data
lark
llvmlite
lm-format-enforcer
marisa-trie
markdown-it-py
markdown2
MarkupSafe
matplotlib
mdurl
mistralai
mpmath
msgpack
multidict
multiprocess
murmurhash
mypy
mypy-extensions
networkx
nh3
ninja
nltk
numba
numpy
openai
orjson
outlines
packaging
pandas
pillow
pluggy
preshed
prometheus_client
prompt-toolkit
proto-plus
protobuf
psutil
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
pytest
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
shapely
shortuuid
smart-open
sniffio
sortedcontainers
spacy
spacy-legacy
spacy-loggers
srsly
starlette
svgwrite
sympy
thinc
threadpoolctl
tiktoken
tokenizers
tomli
toolz
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wasabi
watchfiles
wavedrom
weasel
websockets
xxhash
yarl
zipp
